<html>
<head>
    <title>Aptitude Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
<body>
  
  <div class="container">
    <div class="jumbotron">
    <center><marquee><p>Welcome to Aptitude session</p></marquee></center>
    <p>1.Father is aged three times more than his son Ronit. After 8 years, he would be two and a half times of Ronit's age. After further 8 years, how many times would he be of Ronit's age?</p>
    Answer:<input type="text">
    <p>2.The sum of ages of 5 children born at the intervals of 3 years each is 50 years. What is the age of the youngest child?</p>
    Answer:<input type="text">
    <p>3.Present ages of Sameer and Anand are in the ratio of 5 : 4 respectively. Three years hence, the ratio of their ages will become 11 : 9 respectively. What is Anand's present age in years?</p>
    Answer:<input type="text">
    <p>4.The price of 2 sarees and 4 shirts is Rs. 1600. With the same money one can buy 1 saree and 6 shirts. If one wants to buy 12 shirts, how much shall he have to pay ?</p>
    Answer:<input type="text">
    <p>5. A sum of Rs. 1360 has been divided among A, B and C such that A gets  of what B gets and B gets  of what C gets. B's share is:</p>
    Answer:<input type="text">
    <p>6.One-third of Rahul's savings in National Savings Certificate is equal to one-half of his savings in Public Provident Fund. If he has Rs. 1,50,000 as total savings, how much has he saved in Public Provident Fund ?</p>
    Answer:<input type="text">
    <p>7.A fires 5 shots to B's 3 but A kills only once in 3 shots while B kills once in 2 shots. When B has missed 27 times, A has killed:</p>
    Answer:<input type="text">
    <p>8.CMM, EOO, GQQ, _____, KUU</p>
    Answer:<input type="text"><br>
    <center>
        <a href="" class="btn btn-primary">HOME</a>
        <a href="" class="btn btn-success">SUBMIT</a>
        

    </center> 
    </div>
    </div>  

</body>
    
</html>