<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Good job done</h4>
        <p><h3>Thanks for submitting your response with us!!!! we will consider your response</h3></p>
        <hr>
        <p class="mb-0">if you want to refere more click home</p>
      </div>
<center>
    <a href="/home" class="btn btn-primary">HOME</a>
    <a href="/home" class="btn btn-success">SUBMIT</a>
    

</center>  
</body> 
</html>