<html>

    <head>
        <title>C++ Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>


<body>
    <div class="container">
        <div class="jumbotron">
    <center><marquee><p>WELCOME TO C++ TEST</p></marquee></center>
    <img src="AUTHPROJECT\media\loading_images\c++_image.jpg" alt="c++">
    <p>1.What are the different data types present in C++?</p>
    Answer:<input type="text">
    <p>2.What is the difference between C and C++?</p>
    Answer:<input type="text">
    <p>3.What are class and object in C++?</p>
    Answer:<input type="text">
    <p>4.What is polymorphism in C++?</p>
    Answer:<input type="text">
    <p>5.Define access specifier and its various types in C++</p>
    Answer:<input type="text">
    <p>6.How is function overloading different from operator overloading?</p>
    Answer:<input type="text">
    <p>7.Can we overload a destructor?</p>
    Answer:<input type="text">
    <p>8.What does a Static member in C++ mean?</p>
    Answer:<input type="text"><br>
    <center>
        <a href="/home" class="btn btn-warning">HOME</a>
        <a href="/home" class="btn btn-success">SUBMIT</a>
        

    </center>   

</body>
    
</html>