<html>
    <head>
        <title>.NET Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>



<body style="background-color:rgb(81, 167, 179);">
   
    <div class="container">
        <div class="jumbotron">
            <center><marquee><p>WELCOME TO .NET TEST</p></marquee></center>
    <p>1: What is the .NET framework?</p>
    Answer:<input type="text">
    <p>2: What is CLR?</p>
    Answer:<input type="text">
    <p>3: What do you know about JIT?</p>
    Answer:<input type="text">
    <p>4: What is BCL?</p>
    Answer:<input type="text">
    <p>5: What are the different types of assemblies?</p>
    Answer:<input type="text">
    <p>6: What is caching?</p>
    Answer:<input type="text">
    <p>7.What is the application domain?</p>
    Answer:<input type="text">
    <p>8: What is a cross-page posting?</p>
    Answer:<input type="text"><br><br>
    <center>
        <a href="/home" class="btn btn-warning">HOME</a>
        <a href="/home" class="btn btn-success">SUBMIT</a>
    </div>
    </div>
</center>
</body>
    
</html>