<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

   <div class="container" align="center">
    <table  class="table table-bordered">
        <thead class="thead-dark">
            <th>NAME</th>
            <th>VIEW RESUME</th>
            <th>DOWNLOAD</th>
            <th>DELETE</th>
        </thead>
        {% for i in all_resume %}
        <tr>
            <td><h3>{{i.name}}</h3></td>
            <td><h3><a href="/fetch/{{i.id}}" class="btn btn-success">VIEW RESUME</a></h3></td>
            <td><h3><a href="/detail/{{i.id}}" class="btn btn-dark">DOWNLOAD</a></h3></td>
            <td><h4><a href="/delete_resume/{{i.id}}" class="btn btn-danger">Delete</a></h4></td>
        </tr>
        {% endfor %}
    </table>

    <a href="/create" class="btn btn-outline-primary">CREATE RESUME</a>

   </div>
    
</body>
</html>