<html>


    <head>
        <title>Java Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
<body>
      
    <div class="container">
        <div class="jumbotron">
            <center><marquee><p>WELCOME TO JAVA TEST</p></marquee></center>
    <p>1.What is Java?</p>
    Answer:<input type="text">
    <p>2.How many types of memory areas are allocated by JVM?</p>
    Answer:<input type="text">
    <p>3.What is the difference between JDK, JRE, and JVM?</p>
    Answer:<input type="text">
    <p>4.What is the platform?</p>
    Answer:<input type="text">
    <p>5.What are the main differences between the Java platform and other platforms?</p>
    Answer:<input type="text"><br><br><br>
    <center>
        <a href="/home" class="btn btn-primary">HOME</a>
        <a href="/home" class="btn btn-success">SUBMIT</a>
        

    </center>   
    </div>
    </div>
</body>
    
</html>