<html>
    <head>
       <title>Welcome page of Happy learning india</title> 
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body style="background-color:rgb(112, 195, 206);">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light static-top">
            <div class="container">
              <a class="navbar-brand" href="/home">
                    <img src="media\logo2.jpg" alt="logo">
              </a>
              <h1><p>welcome to happy learning india.</p></h1> 
            
              <a class="navbar-brand" href="/home">
              <img src="media\logo.jpg" alt="logo">
            </a>  
          </div>
        </nav>
      <br>
        <center>
        <a href="/home" class="btn btn-success">Home</a>
        <a href="/Bootstrap" class="btn btn-success">Bootstrap</a>
        <a href="/java" class="btn btn-success">Java</a>
        <a href="/python" class="btn btn-success">Python</a>
        <a href="/Cpp" class="btn btn-success">Cpp</a>
        <a href="/Dotnet" class="btn btn-success">Dotnet</a>
        <a href="/Ruby" class="btn btn-success">Ruby</a>
        <a href="/aptitude" class="btn btn-success">Aptitude</a>
        <a href="/Sql" class="btn btn-success">Sql</a>
        <br><br><br></center>
        <p style="background-color:yellow;">We will provide best interview experiance for the learner , Be a part of our happy learning india platform.</p>
        <img src="media\bootstrap_image.jpg" alt="Happy"  width="300" height="300">
        <img src="media\background.jpg" alt="Happy" width="300" height="300">
        <img src="media\sql_image.jpg" alt="Happy" width="300" height="300">
        <img src="media\python_image.jpg" alt="Happy" width="300" height="300">

        <br><br<br><br><br><br<br><br>
        <center>
            <h4 style="background-color: yellow;">Learners can upload our Own Notes, By clicking the below upload icon</h4>
            <br><a href="/upload" class="btn btn-primary">Upload</a><br><br><br>
        </center>
        <br><br<br><br><br><br<br><br>
        <footer class="page-footer font-small blue">
            <div class="footer-top">
              <div class="container">
                <div class="row">
        
                  <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>HappyLearning</h3>
                    <p>
                      Jayanagara 4th block,Bangalore <br>
                      karnataka-577599<br>
                      India<br><br>
                      <strong>Phone:</strong> +91-9876543210<br>
                      <strong>Email:</strong> info@examination.com<br>
                    </p>
                  </div>
        
                  <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                  </div>
        
                  <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                  </div>
        
                  <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Team</h4>
                    <p>Make Skill India</p>
                    <form action="" method="post">
                      {%csrf_token%}
                      <input type="email" name="email"><a href="/Subscribe/" class="btn btn-primary">Subscribe</a>
                    </form>
                  </div>
        
                </div>
              </div>
            </div>
        
            <div class="container d-md-flex py-4">
        
              <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                  &copy; Copyright <strong><span>HappyLearningIndia</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                  Designed by <a href="https://bootstrapmade.com/">HappyLearningIndia</a>
                </div>
              </div>
            </div>
          </footer>
        <!-- End Footer -->
        </div>
        </div>
          <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        
    </body>
</html>