<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>RESUME</h2></center>
    <p><b>Name:</b>{{resume_list.name}}</p>
    <p><b>Phone No:</b>{{resume_list.phoneno}}</p>
    <p><b>Email-id:</b>{{resume_list.emailid}}</p>
    <hr>
    <h3>Summary</h3>
    
    <p>{{resume_list.summary}}</p>
    <hr>
    
    <h3>Latest Experience:</h3>
    <p><b>Company:</b>{{resume_list.company}}</p>
    <p><b>Duration:</b>{{resume_list.experience}}</p>
    <p><b>Projects:</b>{{resume_list.projects}}</p>
    <hr>
    <p><b>Skills:</b>{{resume_list.skills}}</p>
    <p><b>Softwares:</b>{{resume_list.softwares}}</p>
    <p><b>Certifications:</b>{{resume_list.certification}}</p>
    <p><b>Achievements:</b>{{resume_list.achievements}}</p>
    <hr>
    <p><b>Strengths:</b>{{resume_list.strengths}}</p>
    <p><b>Weakness:</b>{{resume_list.weakness}}</p>
    <hr>
    <h3>Qualification Details:</h3>
    <p><b>School Name:</b>{{resume_list.schoolname}}</p>
    <p><b>School Duration:</b>{{resume_list.schoolduration}} years</p>
    <p><b>School Average Percentage:</b>{{resume_list.percentageofschoolmarks}}%</p><br>

    <p><b>College Name:</b>{{resume_list.collegename}}</p>
    <p><b>College Duration:</b>{{resume_list.collegeduration}} years</p>
    <p><b>College University:</b>{{resume_list.collegeuniversity}}</p>
    <p><b>College Average Percentage:</b>{{resume_list.percentageofcollegemarks}}%</p><br>
    <hr>
    <p><b>Languages Known:</b>{{resume_list.languagesknown}}</p><br>  
    <hr>
    <h4>I here to declare Above all mentioned details are true According to my Knowledge</h4>
    <p>Place:</p>
    <p>Date:</p>
    <align="left"><h4>(Signature)</h4></align>
</body>
</html>